
.banner{
	background-image: url(img/banner.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 0;
}
.banner .map{

	/*animation:mymove 3s;
	-webkit-animation:mymove 3s; /* Safari 和 Chrome */*/
}
@keyframes mymove{
	from{transform: translateY(0);}
	to{transform: translateY(300px);}
}
img{
	margin: 0 auto;
}
#part3{
	background-image: url(img/contact.jpg);
    height: 501px;
    background-repeat: no-repeat;
    background-position: center;
}
#part3 .title{
	margin-top: 143px;
	color: #FFFFFF;
	font-size: 48px;
	line-height: 48px;
}
#part3 .experience{
	margin-top: 73px;
	width: 148px;
	background: #2795FF;
	padding: 11px 34px;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%,50%);
    font-size: 20px;
    border: none;
}
#part3 a{
	font-size: 20px;
color: #FFFFFF;
}
#part5{
	background-image: url(img/focus.jpg);
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
#part5 .title{
    left: 50%;
    position: relative;
    transform: translate(-50%,50%);
}
#part6 .bgImg{
	background-image: url(img/bgMap.png);
	/*width: 1167px;*/
    height: 576px;
    background-repeat: no-repeat;
    background-position: center;
}
#part6 .bgImg span{
	font-size: 20px;
}
#part8{
	height: 360px;
}
.default{
	height: 200px;
}
@media screen and (min-width: 768px) and (max-width:992px) {
	
	#part6 .bgImg span {
	    font-size: 15px;
	}
}